
<legend>Empréstimo</legend>
  
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputUsuario">Usuário</label>
    <div class="controls">
      <select ng-model="emprestimo.usuario.id" ng-options="usuario.id as usuario.nome for usuario in usuarios"></select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDataDevolucao">Data da devolução</label>
    <div class="controls">
      <input type="text" placeholder="Data Devolução" ng-model="emprestimo.dataDevolucao">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLivro">Livro</label>
    <div class="controls">
      <select ng-model="publicacao_selecionada" ng-options="livro as livro.titulo for livro in livros"></select>
      <a class="btn btn-small btn-primary" ng-click="adicionarItemEmprestimo()"><i class="icon-arrow-down icon-white"></i></a>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputItens">Itens</label>
    <div class="controls">
      <div class="alert" ng-hide="emprestimo.itens.length>0">
			  Nenhum item foi adicionado.
			</div>
      <table class="table table-hover" ng-show="emprestimo.itens.length>0">
		    <thead>
			    <tr>
			      <th>Título</th>
			      <th>Ações</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="item in emprestimo.itens">
			      <td>{{item.publicacao.titulo}}</td>
			      <td>
			        <a class="btn btn-mini btn-danger" ng-click="emprestimo.itens.pop(item)"><i class="icon-trash icon-white"></i></a>
			      </td>
			    </tr>
			  </tbody>
			</table>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a class="btn btn-inverse" ng-hide="emprestimo.id" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
      <a class="btn btn-inverse" ng-show="emprestimo.id" ng-click="editar_emprestimo_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
      <a class="btn" ng-click="limpar()"> <i class="icon-ban-circle icon-white"></i> Limpar</a>
    </div>
  </div>
</form>

<legend>Lista dos Empréstimos</legend>
<div class="alert" ng-hide="has_emprestimos">
  <strong>Atenção!</strong> Não foi encontrada nenhum item de empréstimo salvo.
</div>

<table class="table table-hover" ng-show="has_emprestimos">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuário</th>
      <th>Data da devolução</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="emprestimo in emprestimos">
      <td>{{emprestimo.id}}</td>
      <td>{{emprestimo.usuario.nome}}</td>
      <td>{{emprestimo.dataDevolucao}}</td>
      <td>
        <a class="btn btn-mini btn-primary" ng-click="editar(emprestimo)"><i class="icon-edit icon-white"></i></a>
        <a href="#visualizarItemEmprestimo" class="btn btn-mini btn-info" data-toggle="modal" ng-click="visualizar(emprestimo)"><i class="icon-search icon-white"></i></a>
        <a class="btn btn-mini btn-warning" ng-click="devolver(emprestimo)"><i class="icon-download-alt icon-white"></i></a>
        <a class="btn btn-mini btn-success" ng-click="renovar(emprestimo)"><i class="icon-bookmark icon-white"></i></a>
        <a class="btn btn-mini btn-danger" ng-click="excluir(emprestimo)"><i class="icon-trash icon-white"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div id="visualizarItemEmprestimo" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Visualização do item de empréstimo</h3>
  </div>
  <div class="modal-body">
    <address>
      <strong>Devolução em {{emprestimo_para_visualizacao.dataDevolucao}}</strong><br>
      <strong>Usuário: </strong> {{emprestimo_para_visualizacao.usuario.nome}}<br>
      <abbr title="Telefone">Telefone:</abbr> {{emprestimo_para_visualizacao.usuario.telefone}} <br>
    </address>
    <table class="table table-hover" ng-show="emprestimo_para_visualizacao.itens.length>0">
      <thead>
        <tr>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in emprestimo_para_visualizacao.itens">
          <td>{{item.publicacao.titulo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
