
<legend>Empréstimo</legend>
  
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputUsuario">Usuário</label>
    <div class="controls">
      <select ng-model="emprestimo.usuario.id" ng-options="usuario.id as usuario.nome for usuario in usuarios"></select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDataDevolucao">Data da devolução</label>
    <div class="controls">
      <input type="text" placeholder="Data Devolução" ng-model="dataDevolucao">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLivro">Livro</label>
    <div class="controls">
      <select ng-model="publicacao_selecionada" ng-options="livro as livro.titulo for livro in livros"></select>
      <a class="btn btn-small btn-primary" ng-click="adicionarItemEmprestimo()"><i class="icon-arrow-down icon-white"></i></a>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputItens">Itens</label>
    <div class="controls">
      <div class="alert" ng-hide="emprestimo.itens.length>0">
			  Nenhum item foi adicionado.
			</div>
      <table class="table table-hover" ng-show="emprestimo.itens.length>0">
		    <thead>
			    <tr>
			      <th>Título</th>
			      <th>Data da devolução</th>
			      <th>Ações</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="item in emprestimo.itens">
			      <td>{{item.publicacao.titulo}}</td>
			      <td>{{item.dataDevolucao}}</td>
			      <td>
			        <a class="btn btn-mini btn-danger" ng-click="emprestimo.itens.splice(emprestimo.itens.indexOf(item),1)"><i class="icon-trash icon-white"></i></a>
			      </td>
			    </tr>
			  </tbody>
			</table>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a class="btn btn-inverse" ng-hide="emprestimo.id" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
      <a class="btn btn-inverse" ng-show="emprestimo.id" ng-click="editar_emprestimo_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
      <a class="btn" ng-click="limpar()"> <i class="icon-ban-circle"></i> Limpar</a>
    </div>
  </div>
</form>

<legend>Lista dos Empréstimos</legend>
<div class="alert" ng-hide="has_emprestimos">
  <strong>Atenção!</strong> Não foi encontrada nenhum item de empréstimo salvo.
</div>

<table class="table table-hover" ng-show="has_emprestimos">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuário</th>
      <th>Data do emrpéstimo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="emprestimo in emprestimos">
      <td>{{emprestimo.id}}</td>
      <td>{{emprestimo.usuario.nome}}</td>
      <td>{{emprestimo.dataEmprestimo}}</td>
      <td>
        <a class="btn btn-mini btn-primary" ng-click="editar(emprestimo)"   rel="tooltip" title="editar"><i class="icon-edit icon-white"></i></a>
        <a href="#visualizarEmprestimo" class="btn btn-mini btn-info"  data-toggle="modal" rel="tooltip" title="visualizar" ng-click="selecionar(emprestimo)"><i class="icon-search icon-white"></i></a>
        <a href="#devolverEmprestimo" class="btn btn-mini btn-warning" data-toggle="modal" rel="tooltip" title="devolver"   ng-click="selecionar(emprestimo)"><i class="icon-download-alt icon-white"></i></a>
        <a href="#renovarEmprestimo" class="btn btn-mini btn-success"  data-toggle="modal" rel="tooltip" title="renovar"    ng-click="selecionar(emprestimo)"><i class="icon-bookmark icon-white"></i></a>
        <a class="btn btn-mini btn-danger"  ng-click="excluir(emprestimo)"  rel="tooltip" title="excluir"><i class="icon-trash icon-white"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div id="visualizarEmprestimo" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Visualização</h3>
  </div>
  <div class="modal-body">
    <address>
      <strong>Emprestado em {{emprestimo_selecionado.dataEmprestimo}}</strong><br>
      <strong>Usuário: </strong> {{emprestimo_selecionado.usuario.nome}}<br>
      <abbr title="Telefone">Telefone:</abbr> {{emprestimo_selecionado.usuario.telefone}} <br>
    </address>
    <table class="table table-hover" ng-show="emprestimo_selecionado.itens.length>0">
      <thead>
        <tr>
          <th>Título</th>
          <th>Data da Devolução</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in emprestimo_selecionado.itens">
          <td>{{item.publicacao.titulo}}</td>
          <td>{{item.dataDevolucao}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="devolverEmprestimo" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Devolução</h3>
  </div>
  <div class="modal-body">
    <table class="table table-hover" ng-show="emprestimo_selecionado.itens.length>0">
      <thead>
        <tr>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in emprestimo_selecionado.itens">
          <td><input type="checkbox" ng-model="item.devolver"> {{item.publicacao.titulo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="btn btn-inverse" ng-click="devolver_emprestimo_selecionado()"> <i class="icon-ok icon-white"></i> Devolver</a>
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="renovarEmprestimo" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Renovação</h3>
  </div>
  <div class="modal-body">
    <table class="table table-hover" ng-show="emprestimo_selecionado.itens.length>0">
      <thead>
        <tr>
          <th>Título</th>
          <th>Data devolução</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in emprestimo_selecionado.itens">
          <td><input type="checkbox" ng-model="item.renovar"> {{item.publicacao.titulo}}</td>
          <td><input type="text" placeholder="Data Devolução" ng-show="item.renovar" ng-model="item.dataDevolucao"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="btn btn-inverse" ng-click="renovar_emprestimo_selecionado()"> <i class="icon-ok icon-white"></i> Renovar</a>
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>