
<legend>Publicação</legend>
  
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitulo">Título</label>
    <div class="controls">
      <input type="text" placeholder="Título" ng-model="publicacao.titulo">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEditora">Editora</label>
    <div class="controls">
      <input type="text" placeholder="Editora" ng-model="publicacao.editora">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAno">Ano</label>
    <div class="controls">
      <input type="text" placeholder="Ano" ng-model="publicacao.ano">
    </div>
  </div>
  <div class="control-group">
    <div class="controls" ng-hide="publicacao.id">
      <a class="btn btn-inverse" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
    </div>
    <div class="controls" ng-show="publicacao.id">
      <a class="btn btn-inverse" ng-click="editar_publicacao_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
    </div>
  </div>
</form>

<legend>Lista de publicacoes</legend>
<div class="alert" ng-hide="has_publicacoes">
  <strong>Atenção!</strong> Não foi encontrada nenhuma publicação salva.
</div>

<table class="table table-hover" ng-show="has_publicacoes">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Ano</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="publicacao in publicacoes">
      <td>{{publicacao.id}}</td>
      <td>{{publicacao.titulo}}</td>
      <td>{{publicacao.ano}}</td>
      <td>
        <a class="btn btn-mini btn-primary" ng-click="editar(publicacao)"><i class="icon-edit icon-white"></i></a>
        <a href="#visualizarPublicacao" class="btn btn-mini btn-info" data-toggle="modal" ng-click="visualizar(publicacao)"><i class="icon-search icon-white"></i></a>
        <a class="btn btn-mini btn-danger" ng-click="excluir(publicacao)"><i class="icon-trash icon-white"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div id="visualizarPublicacao" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Visualização da publicação</h3>
  </div>
  <div class="modal-body">
    <address>
      <strong>{{publicacao_para_visualizacao.titulo}}</strong><br>
      <abbr title="Editora">Editora:</abbr> {{publicacao_para_visualizacao.editora}} <br>
      <abbr title="Ano">Ano:</abbr> {{publicacao_para_visualizacao.ano}} <br>
    </address>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
