
<legend>Usuário</legend>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputNome">Nome</label>
    <div class="controls">
      <input type="text" placeholder="Nome" ng-model="usuario.nome">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEndereco">Endereço</label>
    <div class="controls">
      <input type="password" placeholder="Endereço" ng-model="usuario.endereco">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCpf">CPF</label>
    <div class="controls">
      <input type="password" placeholder="CPF" ng-model="usuario.cpf">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTelefone">Telefone</label>
    <div class="controls">
      <input type="password" placeholder="Telefone" ng-model="usuario.telefone">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDataPenalizacao">Data Penalização</label>
    <div class="controls">
      <input type="password" placeholder="Data Penalização" ng-model="usuario.dataPenalizacao">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls" ng-hide="usuario.id">
      <a class="btn btn-inverse" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
    </div>
    <div class="controls" ng-show="usuario.id">
      <a class="btn btn-inverse" ng-click="editar_usuario_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
    </div>
  </div>
</form>

<legend>Lista do usuários</legend>
<div class="alert">
  <strong>Atenção!</strong> Não existe nenhum usuário salvo até o momento.
</div>

<table class="table table-hover" ng-show="has_usuarios">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data Penalização</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="usuario in usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.dataPenalizacao}}</td>
      <td>
        <button class="btn btn-mini btn-primary" ng-click="editar(usuario)"    ><i class="icon-edit   icon-white"></i></button>
        <button class="btn btn-mini btn-info"    ng-click="visualizar(usuario)"><i class="icon-search icon-white"></i></button>
        <button class="btn btn-mini btn-danger"  ng-click="excluir(usuario)"   ><i class="icon-remove icon-white"></i></button>
      </td>
    </tr>
  </tbody>
</table>