
<legend>Usuário</legend>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputNome">Nome</label>
    <div class="controls">
      <input type="text" placeholder="Nome" ng-model="usuario.nome">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEndereco">Endereço</label>
    <div class="controls">
      <input type="text" placeholder="Endereço" ng-model="usuario.endereco">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCpf">CPF</label>
    <div class="controls">
      <input type="text" placeholder="CPF" ng-model="usuario.cpf">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTelefone">Telefone</label>
    <div class="controls">
      <input type="text" placeholder="Telefone" ng-model="usuario.telefone">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDataPenalizacao">Data Penalização</label>
    <div class="controls">
      <input type="text" placeholder="Data Penalização" ng-model="usuario.dataPenalizacao">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls" ng-hide="usuario.id">
      <a class="btn btn-inverse" ng-click="salvar()"> <i class="icon-plus icon-white"></i> Salvar</a>
    </div>
    <div class="controls" ng-show="usuario.id">
      <a class="btn btn-inverse" ng-click="editar_usuario_selecionado()"> <i class="icon-plus icon-white"></i> Editar</a>
    </div>
  </div>
</form>

<legend>Lista de usuários</legend>
<div class="alert" ng-hide="has_usuarios">
  <strong>Atenção!</strong> Não foi encontrado nenhum usuário salvo.
</div>

<table class="table table-hover" ng-show="has_usuarios">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data Penalização</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="usuario in usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.dataPenalizacao}}</td>
      <td>
        <a class="btn btn-mini btn-primary" ng-click="editar(usuario)"><i class="icon-edit icon-white"></i></a>
        <a href="#visualizarUsuario" class="btn btn-mini btn-info" data-toggle="modal" ng-click="visualizar(usuario)"><i class="icon-search icon-white"></i></a>
        <a class="btn btn-mini btn-danger" ng-click="excluir(usuario)"><i class="icon-trash icon-white"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div id="visualizarUsuario" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Visualização do usuário</h3>
  </div>
  <div class="modal-body">
    <address>
      <strong>{{usuario_para_visualizacao.nome}}</strong><br>
      <abbr title="Endereço">Endereço:</abbr> {{usuario_para_visualizacao.endereco}} <br>
      <abbr title="CPF">CPF:</abbr> {{usuario_para_visualizacao.cpf}} <br>
      <abbr title="Telefone">Telefone:</abbr> {{usuario_para_visualizacao.telefone}} <br>
      <abbr title="Data da Penalização">Data de penalização:</abbr> {{usuario_para_visualizacao.dataPenalizacao}}
    </address>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>