<form class="form-horizontal">
  <legend>Usuário</legend>
  <div class="control-group">
    <label class="control-label" for="inputNome">Nome</label>
    <div class="controls">
      <input type="text" id="inputNome" placeholder="Nome">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEndereco">Endereço</label>
    <div class="controls">
      <input type="password" id="inputEndereco" placeholder="Endereço">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCpf">CPF</label>
    <div class="controls">
      <input type="password" id="inputCpf" placeholder="CPF">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTelefone">Telefone</label>
    <div class="controls">
      <input type="password" id="inputTelefone" placeholder="Telefone">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDataPenalizacao">Data Penalização</label>
    <div class="controls">
      <input type="password" id="inputDataPenalizacao" placeholder="Data Penalização">
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-inverse"> <i class="icon-plus icon-white"></i> Adicionar</button>
    </div>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data Penalização</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>@mdo</td>
      <td>
        <button class="btn btn-mini btn-primary"><i class="icon-edit icon-white"></i></button>
        <button class="btn btn-mini btn-info"><i class="icon-search icon-white"></i></button>
        <button class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>@fat</td>
      <td>
        <button class="btn btn-mini btn-primary"><i class="icon-edit icon-white"></i></button>
        <button class="btn btn-mini btn-info"><i class="icon-search icon-white"></i></button>
        <button class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>
        <button class="btn btn-mini btn-primary"><i class="icon-edit icon-white"></i></button>
        <button class="btn btn-mini btn-info"><i class="icon-search icon-white"></i></button>
        <button class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></button>
      </td>
    </tr>
  </tbody>
</table>